img {
  height: 200px;
  width: 200px;
}

.header {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  color: white;
  background-color: rgba(165, 212, 241, 0.336);
}

body {
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(182, 231, 231);
}

footer {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.314);
  color: rgb(0, 0, 0);
  text-align: center;
}
